<!DOCTYPE html>
<html lang="en-US">
  <%- partial('_partial/head') %>
  <body>
    <%- partial('_partial/header', null, {cache: !config.relative_link}) %>
    <div class="outer">
      <section id="main"><%- body %></section>
    </div>
    <%- partial('_partial/footer', null, {cache: !config.relative_link}) %> 
    <%- partial('_partial/after-footer') %>
  </body>
</html>
