<section class="article-card-group">
  <% page.posts.each(function(post,i) { %>
    <div class="article-card">
      <article class="article-card-container">
        <header class="article-card-header">
          <h1 class="article-card-title"><a href="<%- url_for(post.path) %>"><%= post.title %></a></h1>
        </header>
        <section class="article-card-intro"><%= post.excerpt %></section>
        <footer>
          <time class="article-card-published" datetime="<%= date_xml(post.date) %>" itemprop="datePublished"><%= date(post.date, null) %></time>
        </footer>
      </article>
    </div>
  <% }) %>
</section>

<% if (page.total > 1){ %>
  <nav id="page-nav">
    <% var prev_text = "&laquo; " + __('prev');var next_text = __('next') + " &raquo;"%>
    <%- paginator({
      prev_text: prev_text,
      next_text: next_text,
      escape: false
    }) %>
  </nav>
<% } %>
